@model IList<Planeta>

@{
    ViewData["Title"] = "Listar";
}


<h1>Planetas cadastrados: </h1>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Data Descoberta</th>
        <th>Tempo de Rotação</th>
        <th>Tipo de planeta</th>
        <th>Galáxia</th>
        <th>Atmosfera</th>
        <th>Habitável</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td> @item.Id </td>
        <td> @item.Nome </td>
        <td> @item.DataDescoberta.ToShortDateString() </td>
        <td> @item.TempoRotacao </td>
        <td> @item.Tipo </td>
        <td> @item.Galaxia </td>
        <td> @item.Atmosfera </td>
        <td> @(item.Habitavel?"Sim":"Não") </td>
        <td>
            <a asp-action="editar" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Editar</a>
        </td>
    </tr>

}
</table>

    <!--
        
        @{
    /*IList<Planeta> planetas = ViewBag.banco;
        for (int i = 0; i < planetas.Count; i++)
        {
            <p>@planetas.ElementAt(i)</p>
        }*/
    }-->
    <a asp-action="cadastrar" class="btn btn-outline-secondary">Cadastrar</a>
