@model IList<Planeta>

@{
    ViewData["Title"] = "Listar";
}

<!-- Definir o conteúdo da Section Links definida no _Layout -->
@section Links{
    <a asp-action="Cadastrar">Cadastrar Planetas</a>
}

<h1>Lista de Planetas </h1>

<mensagem texto="@TempData["msg"]"></mensagem>

@*if (TempData["msg"] != null)
{
    <div class="alert alert-sucess">@TempData["msg"]</div>
}*@

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Data Descoberta</th>
        <th>Tempo de Rotação</th>
        <th>Tipo de planeta</th>
        <th>Galáxia</th>
        <th>Atmosfera</th>
        <th>Habitável</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Id </td>
            <td> @item.Nome </td>
            <td> @item.DataDescoberta.ToShortDateString() </td>
            <td> @item.TempoRotacao </td>
            <td> @item.Tipo </td>
            <td> @item.Galaxia </td>
            <td> @item.Atmosfera </td>
            <td> @(item.Habitavel?"Sim":"Não") </td>
            <td>
                <a asp-action="editar" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Editar</a>
                <!-- Button trigger modal -->
                <!-- Ao clicar no botão, seta o Id no planeta no campo do formulário do Modal-->
                <button onClick="idPlaneta.value = @item.Id" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                    Remover
                </button>
            </td>
        </tr>

    }
</table>

<!--

    @{
/*IList<Planeta> planetas = ViewBag.banco;
    for (int i = 0; i < planetas.Count; i++)
    {
        <p>@planetas.ElementAt(i)</p>
    }*/
}-->
<a asp-action="cadastrar" class="btn btn-outline-secondary">Cadastrar</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza que quer remover o planeta?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input type="hidden" name="id" id="idPlaneta"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>
